# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Demo Configuration
NEXT_PUBLIC_IS_DEMO_MODE=true
NEXT_PUBLIC_DEMO_DATE=2025-12-18
